In [1]:
import numpy as np
import pandas as pd
import urllib.request, urllib.parse, urllib.error
import requests
import json
import time
import os

class ApiScraper:
    url=['https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=2',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=3',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=4',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=5',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=6',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=7',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=8',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=9',
     'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=10']
    
    file_name=['file0.json',
             'file1.json',
             'file2.json',
             'file3.json',
             'file4.json',
             'file5.json',
             'file6.json',
             'file7.json',
             'file8.json',
             'file9.json']
    title=[]
    overview=[]
    release_date=[]
    popularity=[]
    vote_avg=[]
    idd=[]
    
    def __fileChecker(self):
        for i in self.file_name:
            if os.path.exists(i):
                continue
            else:
                return False
        return True
    
    def __jsonFetcher(self):
        """Fetches the json from the url's passed as a list and stores it in json files"""
        
        for i,u in enumerate(self.url):
            response=requests.get(u,headers={'User-Agent':'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:68.0) Gecko/20100101 Firefox/68.0'}).text
            js=json.loads(response)
            
            with open(self.file_name[i],'w') as f:
                json.dump(js,f)
                
            print('Got',self.file_name[i],'sleeping now for 15 seconds.')
            time.sleep(15)
    
    def __jsonFileReader(self,file_name):
        with open(file_name) as f:
            return json.load(f)
        
    def __jsonExtractor(self):
        self.title=[]
        self.overview=[]
        self.release_date=[]
        self.popularity=[]
        self.vote_avg=[]
        self.idd=[]
        
        for i in self.file_name:
            js=self.__jsonFileReader(i)
            
            for item in js['results']:
                self.title.append(item['title'])
                self.overview.append(item['overview'])
                self.release_date.append(item['release_date'])
                self.popularity.append(item['popularity'])
                self.vote_avg.append(item['vote_average'])
                self.idd.append(item['id'])
                
    def __dataFrameMaker(self):
        movies={'ID':self.idd,
                'Title':self.title,
                'Release Date':self.release_date,
                'Popularity':self.popularity,
                'Vote Average':self.vote_avg,
                'Overview':self.overview}
        df=pd.DataFrame(data=movies)
        df.to_csv('movies.csv')
        return df
    def main(self):
        fetch=True
        
        if self.__fileChecker()==True:
            temp=input('JSON files found, do you want to fetch the data from the API?\nEnter Y/N:')
            
            if temp.lower()=='y':
                fetch=True
                
            elif temp.lower()=='n':
                fetch=False
                
        if fetch==True:
            self.__jsonFetcher()
            
        self.__jsonExtractor()
        
        df=self.__dataFrameMaker()
        return df

In [2]:
scraper=ApiScraper()
data=scraper.main()
data.head()

Got file0.json sleeping now for 15 seconds.
Got file1.json sleeping now for 15 seconds.
Got file2.json sleeping now for 15 seconds.
Got file3.json sleeping now for 15 seconds.
Got file4.json sleeping now for 15 seconds.
Got file5.json sleeping now for 15 seconds.
Got file6.json sleeping now for 15 seconds.
Got file7.json sleeping now for 15 seconds.
Got file8.json sleeping now for 15 seconds.
Got file9.json sleeping now for 15 seconds.

,ID,Title,Release Date,Popularity,Vote Average,Overview
0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,14.652,8.9,"Raj is a rich, carefree, happy-go-lucky second..."
1,278,The Shawshank Redemption,1994-09-23,29.604,8.7,Framed in the 1940s for the double murder of h...
2,496243,Parasite,2019-10-11,40.342,8.7,"All unemployed, Ki-taek's family takes peculia..."
3,238,The Godfather,1972-03-15,29.094,8.6,"Spanning the years 1945 to 1955, a chronicle o..."
4,372058,Your Name.,2017-04-07,25.766,8.6,High schoolers Mitsuha and Taki are complete s...

In [3]:
data=scraper.main()
data.head()

JSON files found, do you want to fetch the data from the API?
Enter Y/N:n

,ID,Title,Release Date,Popularity,Vote Average,Overview
0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,14.652,8.9,"Raj is a rich, carefree, happy-go-lucky second..."
1,278,The Shawshank Redemption,1994-09-23,29.604,8.7,Framed in the 1940s for the double murder of h...
2,496243,Parasite,2019-10-11,40.342,8.7,"All unemployed, Ki-taek's family takes peculia..."
3,238,The Godfather,1972-03-15,29.094,8.6,"Spanning the years 1945 to 1955, a chronicle o..."
4,372058,Your Name.,2017-04-07,25.766,8.6,High schoolers Mitsuha and Taki are complete s...

In [5]:
data.tail(5)

,ID,Title,Release Date,Popularity,Vote Average,Overview
195,310569,The Second Mother,2015-08-28,8.641,8.1,After leaving her daughter Jessica in a small ...
196,424694,Bohemian Rhapsody,2018-11-02,41.875,8.1,"Singer Freddie Mercury, guitarist Brian May, d..."
197,204,The Wages of Fear,1955-02-16,9.284,8.1,"In the South American jungle, supplies of nitr..."
198,32085,Vincent,1982-01-01,5.947,8.0,Young Vincent Malloy dreams of being just like...
199,821,Judgment at Nuremberg,1961-12-19,8.585,8.0,"In 1947, four German judges who served on the ..."